<?xml version="1.0"?>
<ruleset name="MyProject">
    <rule ref="PSR12" />

    <rule ref="Generic.Files.LineLength">
        <properties>
            <property name="lineLimit" value="120"/>
            <!-- Ignore long comments and docblocks -->
            <property name="ignoreComments" value="true"/>
        </properties>
    </rule>
</ruleset>
