<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<input type="hidden" name="href" id="href" value=""/>
				<p>{{ 'app.confirmation.label'|trans }}</p>
			</div>
			<div class="modal-footer">
				<button type="button" id="confirmDelete" class="btn btn-primary">
					<i class="bi bi-floppy2 me-1"></i>
					{{ 'app.yes.label'|trans }}
				</button>
				<button type="button" class="btn btn-light" data-bs-dismiss="modal">
					<i class="bi bi-x-circle me-1"></i>
					{{ 'app.no.label'|trans }}
				</button>
			</div>
		</div>
	</div>
</div>
