{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Modification de l'utilisateur{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Formulaire de modification de l'utilisateur</h1>
    {{ form(form) }}
</div>
{% endblock %}
