{% extends 'base.html.twig' %}

{% block title %}MasterCook - {{ 'header.update-informations.label'|trans}}{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>{{ 'header.update-informations.label'|trans}}</h1>
    {{ form(form) }}
</div>
{% endblock %}
