body { 
    margin: 0;
    .modal-backdrop {
      backdrop-filter: blur(2px) !important;
      --bs-backdrop-opacity: 1 !important;
      --bs-backdrop-bg: rgba(52, 73, 84, 0.70) !important; 
    }
}

.carousel .carousel-item img {
  height: 400px !important;
  object-fit: cover;
}

label[for="recipe_imageFile_delete"] {
  padding: 10px 10px 10px 0px;
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: underline;
}

.custom-btn.bi::before {
  padding-right: 5px;
}

h1 {
  color:#ea5421;
  font-weight: bold;
}

h1.big-title {
  font-size: 3.5rem;
}

/* ALERTS */
.alert-container {
  position: relative;
}
.alert {
position: absolute;
margin-top:56px;
width: 100%;
}
/* END ALERTS */
