body { 
    margin: 0;    
}

.carousel .carousel-item img {
  height: 400px !important;
  object-fit: cover;
}

label[for="recipe_imageFile_delete"] {
  padding: 10px 10px 10px 0px;
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: underline;
}

.custom-btn.bi::before {
  padding-right: 5px;
}

h1 {
  font-weight: bold;

  &.big-title {
    font-size: 3.5rem;
  }
}

/* ALERTS */
.alert-container {
  position: relative;
}
.alert {
position: absolute;
margin-top:56px;
width: 100%;
}
/* END ALERTS */

.vich-image {
  padding-top: 10px;
}

.form-image img, 
.vich-image img {
  width: 250px;
}

.card-img-top {
  border-top-left-radius: unset;
  border-top-right-radius: unset;
}

.recipe_container .card-header {
  font-weight: bold;
}

.form-error li {
  color: red;
}

label.required:after {
  content: ' *';
}