body {
  margin: 0;
}

.custom-top-navbar {
  padding: 5px 0px;
}

.carousel .carousel-item img {
  height: 400px !important;
  object-fit: cover;
}

.custom-btn.bi::before {
  padding-right: 5px;
}

h1 {
  font-weight: bold;

  &.big-title {
    font-size: 3.5rem;
  }
}

/* ALERTS */
.alert-container {
  position: relative;
}

.alert {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  top: 49px;
  left: 0%;
  position: absolute;
  width: 100%;
  z-index: 10000;
  padding: 5px;
  font-weight: bold;
}

/* END ALERTS */

.vich-image {
  padding-top: 10px;
}

.form-image img,
.vich-image img {
  width: 250px;
}

.card-img-top {
  border-top-left-radius: unset;
  border-top-right-radius: unset;
}

.recipe_container .card-header {
  font-weight: bold;
}

.form-error li {
  color: red;
}

label.required:after {
  content: ' *';
}

.login-container {
  position: relative;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40px;
  box-shadow: #aaa 0px 7px 29px 0px;
  border-radius: 5px;
}