<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/ico" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            {{ encore_entry_script_tags('app') }}           
        {% endblock %}
    </head>
    <body class="d-flex flex-column min-vh-100">
        {% block header %}
            {% include "partials/_header.html.twig" %}
            {% include "partials/_flash-message.html.twig" %}
            {% include "partials/_modal-delete-dialog.html.twig" %}
        {% endblock %}
        <div class="mt-5">
            {% block body %}{% endblock %}
        </div>
        {% block footer %}
        {% include "partials/_footer.html.twig" %}
        {% endblock %}        
    </body>
</html>