<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link rel="icon" type="image/ico" href="{{ asset('favicon.ico') }}"/>
		<script>
			(function() {
				var theme = localStorage.getItem('theme') || 'dark';
				document.documentElement.setAttribute('data-bs-theme', theme);
			})();
		</script>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
			{{ encore_entry_script_tags('app') }}
			<script>
				document.addEventListener('DOMContentLoaded', function () {
					const html = document.documentElement;
					const btn = document.getElementById('theme-toggle');
					const icon = document.getElementById('theme-icon');
					// Récupère le thème depuis le localStorage
					let theme = localStorage.getItem('theme') || 'dark';
					html.setAttribute('data-bs-theme', theme);
					icon.className = theme === 'dark' ? 'bi bi-sun' : 'bi bi-moon';

					btn.addEventListener('click', function () {
						theme = html.getAttribute('data-bs-theme') === 'dark' ? 'light' : 'dark';
						html.setAttribute('data-bs-theme', theme);
						localStorage.setItem('theme', theme);
						icon.className = theme === 'dark' ? 'bi bi-sun' : 'bi bi-moon';
					});
				});
			</script>
		{% endblock %}

		
	</head>
	<body class="d-flex flex-column min-vh-100">
		{% block header %}
			{% include "partials/_header.html.twig" %}
			{% include "partials/_flash-message.html.twig" %}
			{% include "partials/_modal-delete-dialog.html.twig" %}
		{% endblock %}
		<div class="mt-5"> {% block body %}{% endblock %}
			</div>
			{% block footer %}
				{% include "partials/_footer.html.twig" %}
			{% endblock %}
		</body>
	</html>
