{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Contact{% endblock %}

{% block body %}

<div class="container">
    <h1 class="mt-4">Formulaire de contact</h1>
    {{ form(form) }}
</div>
{% endblock %}
