{% extends 'base.html.twig' %}

{% block title %}{{ app.request.server.get('APP_NAME') }} - Contact{% endblock %}

{% block body %}

<div class="container-lg form-error">
    <h1>{{'contact.title.label'|trans}}</h1>
    {{ form(form) }}
</div>
{% endblock %}
